{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- Original URL: http://www.pearman-law.com/articles.html
Date Downloaded: 5/11/2020 6:26:42 PM !-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">
<title>Robert C. Pearman, Attorney and Arbitrator</title>
<!-- InstanceEndEditable -->

<link href="../static/css/styles.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>
<body>
<table width="796" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
<tr>
		<td width="796" height="172" valign="top">
			<a href="index.html"><img src="../static/images/header2.gif" alt="Robert Pearman, Robinson &amp; Pearman: Attorney &amp; Arbitrator" name="header" width="796" height="172" border="0" id="header" /></a></td>
  </tr>
	<tr>
		<td width="796" valign="top" id="core_bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td id="content_bg"><div id="core"><!-- InstanceBeginEditable name="content" -->
              <div class="inside">
                <div id="template_nav">
                  <table width="95%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td width="1%" class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="../templates/areasofpractice.html" class="navlinks">Arbitration</a><a href="index_full.html" class="navlinks"></a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="{% url 'resume_arbitrator' %}" class="navlinks">ROBERT C. PEARMAN</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="clients.html" class="navlinks">ROBERT C. PEARMAN REPRESENTATIVE  Clients</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="areasofpractice.html" class="navlinks">Areas of Practice/Case Studies</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="articles.html" class="navlinks">Articles</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="links.html" class="navlinks">Links</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td><a href="contactus.html" class="navlinks">Contact Us</a></td>
                    </tr>
                  </table>
                  <div align="left"> <img src="../static/images/sidebar_practiceareas.gif" alt="Practice Areas" width="176" height="31" vspace="10" /> </div>
                  <table width="95%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_business" class="praclinks">Business and Corporate</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_publicworks.html" class="praclinks">Public Works</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_transpo.html" class="praclinks">Transportation</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_domain.html" class="praclinks">Eminent Domain</a></td>
                    </tr>
                    <tr>
                      <td><img src="images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_realestate.html" class="praclinks">Real Estate &amp; Housing</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_finance.html" class="praclinks">Financial Institutions</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_publicfinance.html" class="praclinks">Public Finance</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_construction.html" class="praclinks">Construction</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_publicagencies.html" class="praclinks">Public Agencies</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_utilities.html" class="praclinks">Utilities</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_litigation.html" class="praclinks">Litigation</a></td>
                    </tr>
                  </table>
                  <div align="left"></div>
                </div>
                <div id="tc">
                <h1>Articles</h1>
                <table width="100%" border="0" cellspacing="0" cellpadding="3">
                  <tr>
                    <td width="1%"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/successfuljointdev.pdf">Successful Joint Development With Public Transit Sites and Facilities: <br />
                      Part I &amp; II</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcpjointdevaroundtrans.pdf">Joint Development Around Transit Properties: Projects, Planning And Performance </a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/RCP The Use of the HEalth & Safety Code Receivership Remedy .pdf">The Use of the Health &amp; Safety Code Receivership Remedy</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/californianonjudicial.pdf">California Non-Judicial Foreclosures lecture to LAHD and City</a></td>
                  </tr>
                  <tr>
                    <td><img src="images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcpaguidetoeffective.pdf">A Guide to Effective Joint Counsel Relationships</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcpcollectingfromjudgme.pdf">Collecting From Judgment Debtors_ The Third Party Examination</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcpdictaarticle.pdf">Use of a Previously Certified EIR in Redevelopment Plan Adoption</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcpjntdevlpmntoftrns.pdf">                      Joint Development of Transit Properties</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcpladailyjournalpreva.pdf">High Court Tackles Scope of State's Prevailing Wage Law</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcpleasingofcommerici.pdf">Ten Tips for Leasing Commercial Space</a></td>
                  </tr>
                  <tr>
                    <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                    <td><a href="pdf/rcputilityrearrangy2.pdf">Agreements for Utility Rearrangements in Passenger Rail Projects</a></td>
                  </tr>
                </table>
                </div>
              </div>
            <!-- InstanceEndEditable --></div></td>
          </tr>
        </table></td>
  </tr>
	<tr>
<td width="796" height="99" valign="top" id="footer"><div class="inside"><a href="{% url 'resume' %}">Home</a> | <a href="{% url 'resume_arbitrator' %}">Arbitration</a> | <a href="articles.html">Articles</a> | <a href="links.html">Links</a> | <a href="contactus.html">contact us</a> | <a href="privacy.html">Privacy Policy</a> | <a href="disclaimer.html">Disclaimer</a><br />
		© 2019 Robert C.Pearman, Esq. All Rights Reserved. <br />
		This web site is designed for general information only. The information presented at this site should not be construed  to be formal legal advice nor the formation of a lawyer/client relationship.</div></td>
	</tr>
</table>
</body>
<!-- InstanceEnd --></html>