{% load static %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head><meta charset="utf-8"><!-- Original URL: http://www.pearman-law.com/index.html
Date Downloaded: 5/11/2020 6:26:42 PM !--><!-- InstanceBeginEditable name="doctitle" -->
	<title>Robert C. Pearman, Attorney and Arbitrator</title>
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">
	<!-- InstanceEndEditable -->
	<link href="../static/css/styles.css" rel="stylesheet" type="text/css" /><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" id="Table_01" width="796">
	<tbody>
		<tr>
			<td height="172" valign="top" width="796"><a href="{% url 'home' %}"><img alt="Robert Pearman, Robinson &amp; Pearman: Attorney &amp; Arbitrator" border="0" height="172" id="header" name="header" src="../static/images/header2.gif" width="796" /></a></td>
		</tr>
		<tr>
			<td id="core_bg" valign="top" width="796">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td id="content_bg">
						<div id="core"><!-- InstanceBeginEditable name="content" -->
						<div class="inside">
						<div id="index_nav">
						<table border="0" cellpadding="3" cellspacing="0" width="95%">
							<tbody>
								<tr>
									<td class="bottomnav" width="1%"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'resume_arbitrator' %}">Arbitration</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'resume' %}">ROBERT C. PEARMAN</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'clients' %}">ROBERT C. PEARMAN REPRESENTATIVE Clients</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'areasofpractice' %}">Areas of Practice/Case Studies</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'articles' %}">Articles</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'blog' %}">NEWS AND NOTES</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'links' %}">Links</a></td>
								</tr>
								<tr>
									<td><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td><a class="navlinks" href="{% url 'contactus' %}">Contact Us</a></td>
								</tr>
							</tbody>
						</table>

						<div align="right"><img alt="Practice Areas" height="31" src="../static/images/sidebar_practiceareas.gif" vspace="10" width="176" /></div>

						<table border="0" cellpadding="3" cellspacing="0" width="95%">
							<tbody>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_business' %}">Business and Corporate</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_publicworks' %}">Public Works</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_transpo' %}">Transportation</a></td>
								</tr>
								<tr>
									<td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
									<td><a href="{% url 'prac_domain' %}" class="praclinks">Eminent Domain</a></td>
								  </tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_realestate' %}">Real Estate &amp; Housing</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_finance' %}">Financial Institutions</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_construction' %}">Construction</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_publicagencies' %}">Public Agencies</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_utilities' %}">Utilities</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_litigation' %}">Litigation</a></td>
								</tr>
							</tbody>
						</table>

						<div align="right"></div>
						</div>

						<div id="content"><img alt="Law and Justice" height="369" src="../static/images/bigpic_index.png" width="556" />
						<table border="0" cellpadding="3" cellspacing="0" width="99%">
							<tbody>
								<tr>
									<td valign="top" width="30%">
									<div class="databox"><em>Robert C. Pearman, <a href="{% url 'resume' %}">Attorney</a> , has excelled on a wide variety of business, corporate, real estate and government contract issues.</em><br />
									&nbsp;
									<hr /> <em>Robert C. Pearman, <a href="{% url 'resume_arbitrator' %}">Arbitrator</a>, is a member of the American Arbitration Association, Roster of Neutrals &ndash; Commercial, Construction Law, Government Contract, and Healthcare Panels; and of the State of California Public Works Contract Arbitration Panel</em></div>
									</td>
									<td class="border_left" valign="top" width="70%">
									<div class="centerpiece"><br />
									Mr. Pearman has been a California real estate and public agency lawyer for over 30 years since his graduation from Yale Law School. Robert Pearman has excelled in Public Works, Redevelopment, Real Estate, Public Finance, Construction, Affordable Housing, Financial Institutions, and Litigation law.<br />
									<br />
									Mr. Pearman has represented diverse clients such as housing departments, redevelopment agencies, transportation authorities, cities, banks and mortgage lenders, construction companies, and real estate developers.&nbsp;He has &nbsp;a statewide reputation in real estate and public agency law.&nbsp;<br />
									<br />
									After over two decades at Robinson &amp; Pearman, and its predecessor Burke, Robinson &amp; Pearman, in 2010 Mr. Pearman became Of Counsel to Gonzalez Saggio &amp; Harlan (GSH). GSH was a multi-office, 100+ attorney firm that was one of the nation&#39;s largest law firms predominantly owned and controlled by minorities and women attorneys.<br />
									<br />
									Since March 2016 he affiliated as Of Counsel to Sanders Roberts LLP (SRLLP) in Los Angeles <a href="http://sandersroberts.com/">(http://sandersroberts.com)</a>. SRLLP covers the full gamut of practice - with extensive experience in pre-trial litigation, trial and appellate matters - the firm provides its clients with exceptional legal services. Its attorneys include top legal talent and alumni of &#39;Big Firms&#39;. SRLLP employs leading-edge technologies that expedite documentation and retrieval, enhance decision making, and prevent duplicative efforts. Sanders Roberts LLP is a certified Minority Business Enterprise.<br />
									<br />
									We invite you to explore this website to learn more about what Robert Pearman Attorney/Arbitrator has to offer.</div>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</div>
						<!-- InstanceEndEditable --></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td height="99" id="footer" valign="top" width="796">&nbsp;
			<div class="inside"><a href="{% url 'resume' %}">Home</a> | <a href="{% url 'resume_arbitrator' %}">Arbitration</a> | <a href="{% url 'articles' %}">Articles</a> | <a href="{% url 'links' %}">Links</a> | <a href="{% url 'contactus' %}">contact us</a> | <a href="{% url 'privacy' %}">Privacy Policy</a> | <a href="{% url 'disclaimer' %}">Disclaimer</a><br />
			&copy; {% now "Y" %} Robert C.Pearman, Esq. All Rights Reserved.<br />
			This web site is designed for general information only. The information presented at this site should not be construed to be formal legal advice nor the formation of a lawyer/client relationship.</div>
			</td>
		</tr>
	</tbody>
</table>
</body>
<!-- InstanceEnd --></html>