{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head><meta charset="utf-8"><!-- Original URL: http://www.pearman-law.com/links.html
Date Downloaded: 5/11/2020 6:26:42 PM !--><!-- InstanceBeginEditable name="doctitle" -->
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">
	<title>Robert C. Pearman, Attorney and Arbitrator</title>
	<!-- InstanceEndEditable -->
	<link href="../static/css/styles.css" rel="stylesheet" type="text/css" /><!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" id="Table_01" width="796">
	<tbody>
		<tr>
			<td height="172" valign="top" width="796"><a href="{% url 'home' %}"><img alt="Robert Pearman, Robinson &amp; Pearman: Attorney &amp; Arbitrator" border="0" height="172" id="header" name="header" src="../static/images/header2.gif" width="796" /></a></td>
		</tr>
		<tr>
			<td id="core_bg" valign="top" width="796">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td id="content_bg">
						<div id="core"><!-- InstanceBeginEditable name="content" -->
						<div class="inside">
						<div id="template_nav">
						<table border="0" cellpadding="3" cellspacing="0" width="95%">
							<tbody>
								<tr>
									<td class="bottomnav" width="1%"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'resume_arbitrator' %}">Arbitration</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'resume' %}">ROBERT C. PEARMAN</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'clients' %}">ROBERT C. PEARMAN REPRESENTATIVE Clients</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'areasofpractice' %}">Areas of Practice/Case Studies</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'articles' %}l">Articles</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'blog' %}">NEWS AND NOTES</a></td>
								</tr>
								<tr>
									<td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td class="bottomnav"><a class="navlinks" href="{% url 'links' %}">Links</a></td>
								</tr>
								<tr>
									<td><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
									<td><a class="navlinks" href="{% url 'contactus' %}">Contact Us</a></td>
								</tr>
							</tbody>
						</table>

						<div align="left"><img alt="Practice Areas" height="31" src="../static/images/sidebar_practiceareas.gif" vspace="10" width="176" /></div>

						<table border="0" cellpadding="3" cellspacing="0" width="95%">
							<tbody>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_business' %}">Business and Corporate</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_publicworks' %}">Public Works</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_transpo' %}">Transportation</a></td>
								</tr>
								<tr>
									<td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
									<td><a href="{% url 'prac_domain' %}" class="praclinks">Eminent Domain</a></td>
								  </tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_realestate' %}">Real Estate &amp; Housing</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_finance' %}">Financial Institutions</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_construction' %}">Construction</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_publicagencies' %}">Public Agencies</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_utilities' %}">Utilities</a></td>
								</tr>
								<tr>
									<td><img height="6" hspace="5" src="../static/images/80_small_arrow.png" vspace="5" width="4" /></td>
									<td><a class="praclinks" href="{% url 'prac_litigation' %}">Litigation</a></td>
								</tr>
							</tbody>
						</table>

						<div align="left"></div>
						</div>

						<div id="tc">
						<h1>links</h1>

                        <p><a href="http://cab.ca.gov/">http:/cab.ca.gov/</a></p>

						<blockquote>
						<p><strong>State of California Architects Board</strong></p>
						</blockquote>

                        <p><a href="http://jvs-socal.org/">http:/jvs-socal.org/</a></p>

						<blockquote>
						<p><strong>JVS SoCal</strong></p>
						</blockquote>
 
 












						<p><a href="https://foothillgoldline.org/">https://foothillgoldline.org/</a></p>

						<blockquote>
						<p><strong>Metro Gold Line Foothill Extension Construction Authority</strong></p>
						</blockquote>

						<p></p>

						<p><a href="http://www.adr.org/">http://www.adr.org/</a></p>

						<blockquote><strong>American Arbitration Association</strong>

						<p></p>
						</blockquote>

						<p><a href="http://hsr.ca.gov/high_speed_rail/">http://hsr.ca.gov/high_speed_rail/</a></p>

						<blockquote>
						<p><strong>California High-Speed Rail Authority</strong></p>
						</blockquote>

						<p></p>

						<p><a href="http://www.sdfoundation.org">http://www.sdfoundation.org</a></p>

						<p><a href="http://web.archive.org/web/20040413205218/http:/sdfoundation.org/news/pdf/annrpt2002section1.pdf">Pearman 
                        Family Scholarship . . . A Tradition of Giving</a></p>

						<blockquote>
						<p><strong>San Diego Foundation/Pearman Family Scholarship (at pg. 14)</strong></p>
						</blockquote>

						<p><a href="http://www.nhlp.org/">www.nhlp.org</a></p>

						<blockquote>
						<p><strong>National Housing Law Project</strong></p>
						</blockquote>

						<p><a href="http://www.lalawlibrary.org/">http://www.lalawlibrary.org/</a></p>

						<blockquote>
						<p><strong>Los Angeles County Law Library</strong></p>
						</blockquote>

						<p><a href="http://lahd.lacity.org/">http://lahd.lacity.org/</a></p>

						<blockquote>
						<p><strong>City of L.A. Housing Department</strong></p>
						</blockquote>

						<p><a href="http://www.economicresources.org/">http://www.economicresources.org/</a></p>

						<blockquote>
						<p><strong>Economic Resources Corp.</strong></p>
						</blockquote>

						<p><a href="http://hacla.org/">http://hacla.org/</a></p>

						<blockquote>
						<p><strong>Housing Authority of the City of Los Angeles (HACLA)</strong></p>
						</blockquote>

						<p><a href="http://www.jgminc.com/">http://www.jgminc.com/</a></p>

						<blockquote>
						<p><strong>Jenkins/Gales &amp; Martinez, Inc. </strong></p>
						</blockquote>

						<p><a href="http://www.cpradr.org/">http://www.cpradr.org/</a></p>

						<blockquote>
						<p><strong>International Institute for Conflict Prevention &amp; Resolution</strong></p>
						</blockquote>

						<p><a href="http://www.broadwayfederalbank.com/">http://www.broadwayfederalbank.com/</a></p>

						<blockquote>
						<p><strong>Broadway Federal Bank</strong></p>
						</blockquote>
						</div>
						</div>
						<!-- InstanceEndEditable --></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td height="99" id="footer" valign="top" width="796">
			<div class="inside"><a href="{% url 'resume' %}">Home</a> | <a href="{% url 'resume_arbitrator' %}">Arbitration</a> | <a href="{% url 'articles' %}">Articles</a> | <a href="{% url 'links' %}">Links</a> | <a href="{% url 'contactus' %}">contact us</a> | <a href="{% url 'privacy' %}">Privacy Policy</a> | <a href="{% url 'disclaimer' %}">Disclaimer</a><br />
			&copy; {% now "Y" %} Robert C.Pearman, Esq. All Rights Reserved.<br />
			This web site is designed for general information only. The information presented at this site should not be construed to be formal legal advice nor the formation of a lawyer/client relationship.</div>
			</td>
		</tr>
	</tbody>
</table>
</body>
<!-- InstanceEnd --></html>