{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- Original URL: http://www.pearman-law.com/prac_publicagencies.html
Date Downloaded: 5/11/2020 6:26:42 PM !-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">
<title>Robert C. Pearman, Attorney and Arbitrator</title>
<!-- InstanceEndEditable -->

<link href="styles.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>
<body>
<table width="796" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
<tr>
		<td width="796" height="172" valign="top">
			<a href="{% url 'home' %}"><img src="../static/images/header2.gif" alt="Robert Pearman, Robinson &amp; Pearman: Attorney &amp; Arbitrator" name="header" width="796" height="172" border="0" id="header" /></a></td>
  </tr>
	<tr>
		<td width="796" valign="top" id="core_bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td id="content_bg"><div id="core"><!-- InstanceBeginEditable name="content" -->
              <div class="inside">
                <div id="template_nav">
                  <table width="95%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td width="1%" class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="{% url 'resume_arbitrator' %}" class="navlinks">Arbitration</a><a href="index_full.html" class="navlinks"></a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="{% url 'resume' %}" class="navlinks">ROBERT C. PEARMAN</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="{% url 'clients' %}" class="navlinks">ROBERT C. PEARMAN REPRESENTATIVE  Clients</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="{% url 'areasofpractice' %}" class="navlinks">Areas of Practice/Case Studies</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="{% url 'articles' %}" class="navlinks">Articles</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img height="9" hspace="5" src="../static/images/80_arrow.png" vspace="5" width="6" /></td>
                      <td class="bottomnav"><a class="navlinks" href="{% url 'blog' %}">NEWS AND NOTES</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="{% url 'links' %}" class="navlinks">Links</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'contactus' %}" class="navlinks">Contact Us</a></td>
                    </tr>
                  </table>
                  <div align="left"> <img src="../static/images/sidebar_practiceareas.gif" alt="Practice Areas" width="176" height="31" vspace="10" /> </div>
                  <table width="95%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_business' %}" class="praclinks">Business and Corporate</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_publicworks' %}" class="praclinks">Public Works</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_transpo' %}" class="praclinks">Transportation</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_domain' %}" class="praclinks">Eminent Domain</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_realestate' %}" class="praclinks">Real Estate &amp; Housing</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_finance' %}" class="praclinks">Financial Institutions</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_construction' %}" class="praclinks">Construction</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_publicagencies' %}" class="praclinks">Public Agencies</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_utilities' %}" class="praclinks">Utilities</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="{% url 'prac_litigation' %}" class="praclinks">Litigation</a></td>
                    </tr>
                  </table>
                  <div align="left"></div>
                </div>
                <div id="tc"><h1>public agencies </h1>
                  <p>Public Agency Clients included the City of Los  Angeles Community Redevelopment Agency (“LACRA”)(redevelopment project  area creation, housing, real estate); City of Los Angeles Housing  Department; City and County of Los Angeles (housing, construction,  public finance); City of Fresno (real estate and rail negotiations);  Los Angeles County Metropolitan Transportation Authority; Southeastern  Economic Development Corp. (General, Redevelopment and Bond Counsel);  San Diego Housing Commission (Special and Bond Counsel); City of El  Cajon (Housing); Centre City Development Corporation (Bond Counsel);  Resolution Trust Corporation/Federal Deposit Insurance Corporation  (Outside Counsel for Litigation and Real Estate Matters) Los Angeles to  Pasadena Metro Gold Line Foothill Construction Authority (Design/Build  and Joint Development); City of Inglewood (special Counsel)<strong><em>.</em></strong></p>
                  <p>Mr. Pearman was Vice Chair of the Executive Committee of the California State Bar Public Law Section.</p>
                  <br />
                   <h1>Case Studies</h1>
                  <h2>Metro Gold Line - Joint Development</h2>
                  <img src="../static/images/case_studies/Fillmore.jpg" width="185" hspace="6" vspace="6" align="left" />Retained by the governmental Authority created to design and build the Los Angeles to Pasadena light rail project, to assist in its joint development activities.  For the construction of its initial 13-mile first phase, traversing 3 cities, at a cost of over $600 million, the Authority planned to augment its resources by obtaining maximum value for certain properties, including a number around station sites that had only been programmed for surface parking or for no specific use whatsoever.<p />
                  <p>In one such example we created a financing and deal structure for the sale of a site to a private developer, who in turn would build a multi-use parking garage to include parking spaces for transit riders via a permanently reserved easement.  The developer/owner constructed, maintains and operates the parking structure, and the private developer also built its own medical/office/retail building on the parcel.  Documents prepared included purchase and sale agreement, interim parking licenses, remediation agreements, recorded environmental restrictions, grant deed and easement agreement, parking development agreement, security documents such as a guarantee and subordinated deed of trust, and escrow instructions.</p>
                  <p>In the end the Authority received millions of dollars to augment its construction budget with no delay in the Gold Line's revenue operating date of the initial phase of its construction.  The Gold Line has since completed and opened operations on the initial phase of its light rail and has "moved on down the line" and is currently constructing phase two of its mandate.</p>
                </div>
              </div>
            <!-- InstanceEndEditable --></div></td>
          </tr>
        </table></td>
  </tr>
	<tr>
		<td width="796" height="99" valign="top" id="footer"><div class="inside"><a href="{% url 'resume' %}">Home</a> | <a href="{% url 'resume_arbitrator' %}">Arbitration</a> | <a href="{% url 'articles' %}">Articles</a> | <a href="{% url 'links' %}">Links</a> | <a href="{% url 'contactus' %}">contact us</a> | <a href="{% url 'privacy' %}">Privacy Policy</a> | <a href="{% url 'disclaimer' %}">Disclaimer</a><br />
		© {% now "Y" %} Robert C.Pearman, Esq. All Rights Reserved. <br />
		This web site is designed for general information only. The information presented at this site should not be construed  to be formal legal advice nor the formation of a lawyer/client relationship.</div></td>
	</tr>
</table>
</body>
<!-- InstanceEnd --></html>