{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<!-- Original URL: http://www.pearman-law.com/prac_utilities.html
Date Downloaded: 5/11/2020 6:26:42 PM !-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styles.css' %}">
<title>Robert C. Pearman, Attorney and Arbitrator</title>
<!-- InstanceEndEditable -->

<link href="../static/css/styles.css" rel="stylesheet" type="text/css" />
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>
<body>
<table width="796" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
<tr>
		<td width="796" height="172" valign="top">
			<a href="index.html"><img src="../static/images/header2.gif" alt="Robert Pearman, Robinson &amp; Pearman: Attorney &amp; Arbitrator" name="header" width="796" height="172" border="0" id="header" /></a></td>
  </tr>
	<tr>
		<td width="796" valign="top" id="core_bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td id="content_bg"><div id="core"><!-- InstanceBeginEditable name="content" -->
              <div class="inside">
                <div id="template_nav">
                  <table width="95%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td width="1%" class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="resume_arbitrator.html" class="navlinks">Arbitration</a><a href="index_full.html" class="navlinks"></a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="resume.html" class="navlinks">ROBERT C. PEARMAN</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="clients.html" class="navlinks">ROBERT C. PEARMAN REPRESENTATIVE  Clients</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="areasofpractice.html" class="navlinks">Areas of Practice/Case Studies</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="articles.html" class="navlinks">Articles</a></td>
                    </tr>
                    <tr>
                      <td class="bottomnav"><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td class="bottomnav"><a href="links.html" class="navlinks">Links</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_arrow.png" width="6" height="9" hspace="5" vspace="5" /></td>
                      <td><a href="contactus.html" class="navlinks">Contact Us</a></td>
                    </tr>
                  </table>
                  <div align="left"> <img src="../static/images/sidebar_practiceareas.gif" alt="Practice Areas" width="176" height="31" vspace="10" /> </div>
                  <table width="95%" border="0" cellspacing="0" cellpadding="3">
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_business.html" class="praclinks">Business and Corporate</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_publicworks.html" class="praclinks">Public Works</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_transpo.html" class="praclinks">Transportation</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_domain.html" class="praclinks">Eminent Domain</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_realestate.html" class="praclinks">Real Estate &amp; Housing</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_finance.html" class="praclinks">Financial Institutions</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_publicfinance.html" class="praclinks">Public Finance</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_construction.html" class="praclinks">Construction</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_publicagencies.html" class="praclinks">Public Agencies</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_utilities.html" class="praclinks">Utilities</a></td>
                    </tr>
                    <tr>
                      <td><img src="../static/images/80_small_arrow.png" width="4" height="6" hspace="5" vspace="5" /></td>
                      <td><a href="prac_litigation.html" class="praclinks">Litigation</a></td>
                    </tr>
                  </table>
                  <div align="left"></div>
                </div>
                <div id="tc"><h1>utilities</h1>
                  <p>Provided real estate and contractual representation to a nonprofit manager of habitat and wildlife lands, including the acquisition of Conservation Easements for the long-term maintenance of the affected wildlife and habitat areas.</p>
                  <p>As counsel to the Third Party Permit desk for the public agency builders of the Los Angeles Metro Rail, specialization included examining local and state law and regulation, agreements for utility rearrangements, negotiation of interagency agreements, Public Utilities Commission general orders.  In fact, drafted and negotiation over 100 interagency agreements for Metro and others with utility agreements, sanitation districts, cities, the county of and CalTrans as needed for the construction of their public works projects.s</p>
                  <br />
                  <h1>Case Studies</h1>
                    <br />
                    <img src="../static/images/case_studies/sdge.gif" width="145" height="75" hspace="5" vspace="0" align="left" />Mr. Pearman  provided real estate opinions in connection with <strong>San Diego Gas &amp; Electric</strong>'s  $100/$300 Million series of mortgage bonds under a longstanding  mortgage trust indenture.  The assignments required extensive due diligence in  connection with the SEC-registered offerings, including review of  utility franchises, detailed review of title records, examination of  trust indentures, acquisition documents, personal property liens and  securities documents.  The properties involved include a wide range of  power generation and commercial operations, from nuclear plants to  transmission line rights-of-way to office buildings.
                    <p />
                </div>
              </div>
            <!-- InstanceEndEditable --></div></td>
          </tr>
        </table></td>
  </tr>
	<tr>
		<td width="796" height="99" valign="top" id="footer"><div class="inside"><a href="resume.html">Home</a> | <a href="resume_arbitrator.html">Arbitration</a> | <a href="articles.html">Articles</a> | <a href="links.html">Links</a> | <a href="contactus.html">contact us</a> | <a href="privacy.html">Privacy Policy</a> | <a href="disclaimer.html">Disclaimer</a><br />
		© 2019 Robert C.Pearman, Esq. All Rights Reserved. <br />
		This web site is designed for general information only. The information presented at this site should not be construed  to be formal legal advice nor the formation of a lawyer/client relationship.</div></td>
	</tr>
</table>
</body>
<!-- InstanceEnd --></html>